body{font-family: ProximaNova, 'Helvetica Neue', helvetica, arial, sans-serif; margin: 0px; padding: 0px; width: 100%;}

body.post_login{background-color: white;  font-family: ProximaNova, 'Helvetica Neue', helvetica, arial, sans-serif; font-size: 11px;
	a.blue{color: #08C; text-decoration: none; text-shadow: white 1px 1px; }	
}

.footer{width: 100%;bottom: 0px; display: block; position: absolute; left: 0px; margin: 0px; padding: 10px 0px; background-color: #DEDCD6; text-align: center; font-size: 11px; color: black;}

label{font-size:11px;}

input, textarea{color: black;}

strike{color: red;}

/* MAILTO */

a[href^="mailto"] {color: #228822;}
a[href^="mailto"]:hover {background-color: #228822; color: white;}

/* DELETE LINKS */

a[data-method="delete"]{color: gray; font-size: 15px;}

/* LINKS */

a{color: #000; text-decoration: none; }
a:hover{color: #08C; text-decoration: none;}
a:active{color: black;}

.h{
    padding-top: 20px;
	margin-bottom: 0px;
	h2, h3{font-weight: 800; padding: 0px 0px 10px 0px; color: #2986C4; font-size: 33px; letter-spacing: -2px; text-shadow: #F7F7F7 2px 2px; }
	a{color:  #08C;}
}