/* FONT SIZE */

.f9{font-size: 9px;}
.f10{font-size: 10px;}
.f11{font-size: 11px;}
.f12{font-size: 12px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}
.f15{font-size: 15px;}
.f18{font-size: 18px;}
.f24{font-size: 24px;}
.f33{font-size: 33px;}
.f60{font-size: 60px;}

/* THICKNESS */

.thin{font-weight: 200;}
.semi-thin{font-weight: 400;}
.normal{font-weight: normal;}

/* COLOR */

.red{color: #A01718;}
.white{color: white;}
.glowblue{color: #32A5F2;}
.baige{color: #8F794F;}
.black{color: black;}
.purple{color: #32A5F2;}
.textgray{color: #4D4D4D;}
.gray{color: gray;}
.green{color: green;}
.orange{color: #CA2F00;}
.lightgray{color: lightgray;}
.blueyou{color: #FDFEFE;}

/* POSITIONING */

.center{text-align: center;}
.right{text-align: right;}
.left{text-align: left;}
.top{vertical-align: top;}
.mid{vertical-align: middle;}
.bottom{vertical-align: bottom;}

/* CIRCLE IMAGES */
.circle {-webkit-border-radius: 50em;-moz-border-radius: 50em;border-radius: 50em;}
/*http://webdesignerwall.com/tutorials/css3-image-styles*/

